<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="static/css.css">
        <link rel="icon" href="static/imgs/icon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="static/imgs/icon.ico" type="image/x-icon">
        <title>МАКСИЗМ &lt;ДИСКЛЕЙМЕР&gt;</title>
	<style>
  		body:not(.loaded) {
    		visibility: hidden;
    		overflow: hidden;
    		height: 100vh;
  		}
	</style>
	<script src='/static/ru.js'></script>
    </head>
    <body>
        <div class="menu-tab">
        <div class="tab-handle"></div>
        <nav class="tab-menu">
            <a class='disabled'>НАВИГАЦИЯ</a>
            <a href="/disclaimer">ДИСКЛЕЙМЕР</a>
            <a href="/makan">Макан</a>
            <a href="/zapovedi">Заповеди</a>
            <a href="/fathers">Отцы</a>
            <a href="/gto">ГТО Максизма</a>
            <a href="/molitvi">Молитвы</a>
            <a href="/plani">Планы</a>
            <a href="/achivki">Ачивки Максизма❌</a>
            <a href="/partners">Наши партнёры</a>
            <a href="/frendi">Наши Друзья</a>
            <a href="/vragi">Враги</a>
            <a href="/pozor">Доска позора</a>
            <a href="/hvala">Доска почёта</a>
            <a href="/party">Члены партии</a>
            <a href="/literature">Литература❌</a>
            <a href="/zhidhaha">Анекдоты про евреев</a>
        </nav>
        </div>
        <div class='head'><span id='title'>МАКСИЗМ — дисклеймер</span></div>
        <div class='triangle'></div>
        <main>
            <span id='disclaimer-head'>ЮРИДИЧЕСКОЕ УВЕДОМЛЕНИЕ И ДОГОВОР ОБСЛУЖИВАНИЯ
 для посетителей интернет-ресурса maxizm.ru
(в соответствии с законодательством Российской Федерации)</span>
<br>
---<br>
<br>
     1. ПРЕАМБУЛА   <br>
1.1. Настоящий документ (далее — «Уведомление») регулирует порядок использования контента, размещённого на интернет-ресурсе [НАЗВАНИЕ САЙТА] (далее — «Сайт»), и определяет условия взаимодействия между Администрацией Сайта (далее — «Администрация») и Пользователем.  <br>
1.2. Факт использования Сайта означает безоговорочное согласие Пользователя с положениями настоящего Уведомления (ст. 438 ГК РФ).  <br>
<br>
---<br>
<br>
     2. СТАТУС КОНТЕНТА   <br>
2.1. Весь контент Сайта, включая текстовые, графические и иные материалы, носит  исключительно сатирический, художественный и гиперболизированный характер  (п. 3 ст. 29 Конституции РФ, ст. 1274 ГК РФ).  <br>
2.2. Любые упоминания идеологий, религий, политических движений, исторических событий или организаций являются  фиктивными аллюзиями  и не направлены на формирование убеждений Пользователя (ст. 13 ФЗ №436 «О защите детей от информации»).  <br>
<br>
---<br>
<br>
     3. ЗАПРЕТ НЕЗАКОННОЙ ИНТЕРПРЕТАЦИИ   <br>
3.1. Администрация:  <br>
-  Не призывает  к осуществлению экстремистской деятельности (ст. 280-282 УК РФ);  <br>
-  Не распространяет  материалы, включённые в Федеральный список экстремистских материалов (<a href='https://minjust.gov.ru/ru/extremist-materials/'>https://minjust.gov.ru/ru/extremist-materials/</a>);  <br>
-  Не пропагандирует  терроризм (ст. 205.2 УК РФ), наркотические средства (ст. 6.13 КоАП РФ) или насилие (ст. 6.21 КоАП РФ).  <br>
3.2. Использование контента Сайта для оправдания противоправных действий квалифицируется как  злоупотребление правом  (ст. 10 ГК РФ) и влечёт ответственность Пользователя.  <br>
<br>
---<br>
<br>
     4. ВОЗРАСТНЫЕ ОГРАНИЧЕНИЯ   <br>
4.1. Сайт содержит информацию, запрещённую для распространения среди детей (категория 18+), в соответствии с:  <br>
- ч. 3 ст. 5 ФЗ №436 «О защите детей от информации, причиняющей вред их здоровью и развитию»;  <br>
- п. 5 ст. 14 ФЗ №149 «Об информации, информационных технологиях и о защите информации».  <br>
4.2. Доступ к контенту предоставляется только после подтверждения совершеннолетия через  интерактивную галочку  («Я старше 18 лет»).  <br>
<br>
---<br>
<br>
     5. ИНТЕЛЛЕКТУАЛЬНАЯ СОБСТВЕННОСТЬ   <br>
5.1. Все объекты авторского права на Сайте используются:  <br>
- В рамках  свободного использования  для критики, полемики или сатиры (п. 3 ст. 1274 ГК РФ);  <br>
- Без цели извлечения прибыли (ст. 1229 ГК РФ);  <br>
- С соблюдением права на неприкосновенность произведения (ст. 1266 ГК РФ).  <br>
5.2. Товарные знаки и логотипы, упоминаемые на Сайте, являются собственностью их правообладателей.  <br>
<br>
---<br>
<br>
     6. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ   <br>
6.1. Администрация  не несёт ответственности  за:  <br>
- Интерпретацию контента третьими лицами (ст. 1064 ГК РФ);  <br>
- Ущерб, возникший в результате использования материалов Сайта (ст. 1095 ГК РФ);  <br>
- Действия пользователей, нарушивших п. 3.2 настоящего Уведомления.  <br>
6.2. Сайт предоставляется по принципу  «as is»  (ст. 401 ГК РФ).  <br>
<br>
---<br>
<br>
     7. ПРОЦЕДУРА РАЗРЕШЕНИЯ СПОРОВ   <br>
7.1. Претензии к контенту направляются через форму обратной связи или на email:  paul.oeuf@yandex.ru .  <br>
7.2. Споры подлежат разрешению в  судебном порядке  по месту регистрации Администрации (ст. 35 АПК РФ, ст. 28 ГПК РФ).  <br>
7.3. Срок рассмотрения претензий —  10 рабочих дней  (ст. 22 ФЗ №59 «О порядке рассмотрения обращений граждан»).  <br>
<br>
---<br>
<br>
     8. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ   <br>
8.1. Администрация оставляет право  блокировать доступ  к контенту без предупреждения (ст. 15.1 ФЗ №149).  <br>
8.2. Уведомление может быть изменено в одностороннем порядке. Актуальная версия доступна по адресу:  <a href='http://maxizm88.ru/disclaimer'>maxizm88.ru/disclaimer</a><br>
<br>
---<br>
<br>
 Нормативные акты, регулирующие настоящее Уведомление:   <br>
1. Конституция РФ (ст. 29)  <br>
2. Гражданский кодекс РФ (ст. 10, 438, 1229, 1274, 1064, 1095)  <br>
3. Уголовный кодекс РФ (ст. 205.2, 280-282)  <br>
4. ФЗ №149 «Об информации, информационных технологиях и о защите информации»  <br>
5. ФЗ №436 «О защите детей от информации» 
        </main>
        <script src='static/js.js'></script>
    </body>
</html>
