<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="css.css">
        <link rel="icon" href="icon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="icon.ico" type="image/x-icon">
        <title>МАКСИЗМ &lt;ПАРТИЯ&gt;</title>
    </head>
    <body>
        
        <div class='clen'>
            <img src='mre.png' class='mre'>
            <span id='date'>0B.06.19</span>
            <span id='about'>почётный сопредседатель съездов</span>
            <span id='merei'>мере</span>
            
        </div>

    </body>
</html>
