<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>МАКСИЗМ &lt;ГЛАВНАЯ&gt;</title>
        <link rel="stylesheet" href="static/css.css">
        <link rel="icon" href="static/imgs/icon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="static/imgs/icon.ico" type="image/x-icon">
    </head>
    
    <body class='main-body'>
        <div class='title-main'>МАКСИЗМ</div>
        <img class='img-main' src='rune.PNG' width=279px height=292px>
    <script async>
        const message='ВАЖНОЕ ЮРИДИЧЕСКОЕ УВЕДОМЛЕНИЕ\n\nДанный ресурс является сатирическим проектом и содержит исключительно юмористический контент. Все материалы представлены в художественной форме как абсурдистская пародия и не отражают реальные взгляды автора.\n\nПродолжая использование сайта, вы подтверждаете, что:\n\n✓ Достигли 18-летнего возраста\n✓ Понимаете сатирическую природу материалов\n✓ Не будете использовать контент в противоправных целях\n✓ Осознаёте, что любые аналогии случайны\n✓ Отказываетесь от любых претензий к автору\n\nСогласно п.14 Постановления Пленума ВС РФ №45 от 15.11.2007, художественное преувеличение не является экстремизмом при отсутствии призывов к насилию.\n\nOk - подтвердить, Отмена - отказаться';
        const ruq=confirm(message);
        if (ruq===false) {
            window.location.href = "/sadrussia";
        }
        else{
            window.location.href = "/disclaimer";
        }
    </script>
    </body>

</html>
