<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>МАКСИЗМ &lt;МАКАН&gt;</title>
        <link rel="stylesheet" href="static/css.css">
        <link rel="icon" href="static/imgs/icon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="static/imgs/icon.ico" type="image/x-icon">
    </head>
    <body>
        <div class="menu-tab">
        <div class="tab-handle"></div>
        <nav class="tab-menu">
            <a class='disabled'>НАВИГАЦИЯ</a>
            <a  href="/disclaimer">ДИСКЛЕЙМЕР</a>
            <a  href="/makan">Макан</a>
            <a  href="/zapovedi">Заповеди</a>
            <a  href="/fathers">Отцы</a>
            <a  href="/gto">ГТО Максизма</a>
            <a  href="/molitvi">Молитвы</a>
            <a  href="/plani">Планы</a>
            <a  href="/achivki">Ачивки Максизма</a>
            <a  href="/partners">Наши партнёры</a>
            <a  href="/frendi">Наши Друзья</a>
            <a  href="/vragi">Враги</a>
            <a  href="/pozor">Доска позора</a>
            <a  href="/hvala">Доска почёта</a>
            <a  href="/party">Члены партии</a>
            <a  href="/literature">Литература</a>
            <a  href="/zhidhaha">Анекдоты про евреев</a>
        </nav>
        </div>
        <div class='head'><span id='title'>МАКСИЗМ — МАКАН</span></div>
        <div class='triangle'></div>
        <div class='makan-main'>
<ul>
<li>Мы не будем вешать женщин и детей.</li>
<li>Необходимо заново сформировать НКВД.</li>
<li>Необходимо ввести обязательное изучение биографии отцов.</li>
<li>Заменить Конституцию на Макан (=Максизм+Коран).</li>
<li>Вектор нашей религии-идеологии - Ультраправославие.</li>
<li>Упразднить ГосДуму. Заменить на организацию "Несущие Порядок Норм" (НеПорНо)</li>
<li>Создать университет имени Дж. Оруэлла, занимающегося реализацией утопии "1984"</li>
<li>Утвердить устав министерства сель. хозяйства - "Скотный Двор"</li>
<li>Переименовать должность министра обороны в Большого Управляющего Боеспособными Силами (БУБС)</li>
<li>Заменить губернаторства на систему варлордства для повышения духа населения в борьбе с врагами Максизма</li>
<li>Добавить в русский алфавит буквы Z и V</li>
<li>Построить в каждом городе АЭС. Излишки энергии направить на криптофермы для финансирования бюджета и на дудос вражеских сайтов.</li>
<li>Создать сверхразумный нейроинтеллект на основе Жириновский ИИ и согласовывать с ним решения по внешней политике. Вернуть всех дипломатов и </li>
<li>послов, распустить МИД.</li>
<li>Все, кто вступит в отряды Штурмовых Лучших Юдофобских Халяльных Исполнителей (ШЛЮХИ), освобождаются от налога при выполнении плана по </li>
<li>расширению жизненного пространства на 1 км² каждые полгода. Если план не выполняется, солдат лишается доп. снабжения косячков.</li>
<li>Создать молодёжную организацию, подразделение штурмовых отрядов - "Сыны ШЛЮХИ".</li>
<li>Наладить дип. отношения с бедуинами аравийской пустыни для обмена опытом.</li>
<li>Изъять и заменить все словари русского языка на "Недурные слова".</li>
<li>Снять все ограничения на разработку вооружения. Отдать частникам разработку хим. оружия в назальных флаконах.</li>
<li>Легализация фентанила, героина, винта, крокодила.</li>
<li>Бесплатно выдавать за особые успехи в прославлении Максизма по хибаре.</li>
<li>Адама и Еву выгнали из рая за то, что они выпили балтику нулёвку</li>
</ul>
        </div>
        
        <script src='static/js.js'></script>
    </body>
</html>
