<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>МАКСИЗМ &lt;МОЛИТВЫ&gt;</title>
        <link rel="stylesheet" href="static/css.css">
        <link rel="icon" href="static/imgs/icon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="static/imgs/icon.ico" type="image/x-icon">

</head>
    <body>
        <div class="menu-tab">
        <div class="tab-handle"></div>
        <nav class="tab-menu">
            <a class='disabled'>НАВИГАЦИЯ</a>
            <a  href="/disclaimer">ДИСКЛЕЙМЕР</a>
            <a  href="/makan">Макан</a>
            <a  href="/zapovedi">Заповеди</a>
            <a  href="/fathers">Отцы</a>
            <a  href="/gto">ГТО Максизма</a>
            <a  href="/molitvi">Молитвы</a>
            <a  href="/plani">Планы</a>
            <a  href="/achivki">Ачивки Максизма</a>
            <a  href="/partners">Наши партнёры</a>
            <a  href="/frendi">Наши Друзья</a>
            <a  href="/vragi">Враги</a>
            <a  href="/pozor">Доска позора</a>
            <a  href="/hvala">Доска почёта</a>
            <a  href="/party">Члены партии</a>
            <a  href="/literature">Литература</a>
            <a  href="/zhidhaha">Анекдоты про евреев</a>
        </nav>
        </div>
        <div class='head'><span id='title'>МАКСИЗМ — МОЛИТВЫ</span></div>
        <div class='triangle'></div>
        <div class='makan-main'>
<audio id='allah-au' controls><source src='static/audio/allah.ogg' type='audio/ogg'></audio>
<audio id='chi-au' controls><source src='static/audio/guli.ogg' type='audio/ogg'></audio>
<audio id='oxxx-au' controls><source src='static/audio/oxxx.ogg' type='audio/ogg'></audio>
<audio id='germ-au' controls><source src='static/audio/germ.ogg' type='audio/ogg'></audio>
<audio id='skib-au' controls><source src='static/audio/skibidi.ogg' type='audio/ogg'></audio>
0) аллах...<br>
1) linganguliguliguli<br>
2) говно, залупа, пенис, хер... <br>
3) was wollen wir trinken<br>
4)skibidi tiolet
        </div>
        
        <script src='static/js.js'></script>
    </body>
</html>
