<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="static/css.css">
        <title>МАКСИЗМ &lt;В РОССИИ&gt;</title>
    </head>
    <body class='sadrussia-body'>
        <div class='sadrussia-title'>К СОЖАЛЕНИЮ, В РОССИИ НЕ ЦЕНЯТ ПОСТИРОНИЮ И САТИРУ, ХОТЬ ОНА И ЖИВЁТ В НЕЙ. КОНТЕНТ САЙТА НЕ ПРЕДНАЗНАЧЕН ДЛЯ ГРАЖДАН РФ. ДЛЯ ПРОСМОТРА ДИСКЛЕЙМЕРА НАЖМИТЕ "ОК" В УВЕДОМЛЕНИИ НА НАЧАЛЬНОЙ СТРАНИЦЕ (<a href='/'>maxizm88.ru</a>)</div>
        
    </body>
</html>
