<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>МАКСИЗМ &lt;Заповеди&gt;</title>
        <link rel="stylesheet" href="static/css.css">
        <link rel="icon" href="static/imgs/icon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="static/imgs/icon.ico" type="image/x-icon">
	<style>
  		body:not(.loaded) {
    		visibility: hidden;
    		overflow: hidden;
    		height: 100vh;
  		}
	</style>
	<script src='/static/ru.js'></script>    
</head>
    <body>
        <div class="menu-tab">
        <div class="tab-handle"></div>
        <nav class="tab-menu">
            <a class='disabled'>НАВИГАЦИЯ</a>
            <a  href="/disclaimer">ДИСКЛЕЙМЕР</a>
            <a  href="/makan">Макан</a>
            <a  href="/zapovedi">Заповеди</a>
            <a  href="/fathers">Отцы</a>
            <a  href="/gto">ГТО Максизма</a>
            <a  href="/molitvi">Молитвы</a>
            <a  href="/plani">Планы</a>
            <a  href="/achivki">Ачивки Максизма</a>
            <a  href="/partners">Наши партнёры</a>
            <a  href="/frendi">Наши Друзья</a>
            <a  href="/vragi">Враги</a>
            <a  href="/pozor">Доска позора</a>
            <a  href="/hvala">Доска почёта</a>
            <a  href="/party">Члены партии</a>
            <a  href="/literature">Литература</a>
            <a  href="/zhidhaha">Анекдоты про евреев</a>
        </nav>
        </div>
        <div class='head'><span id='title'>МАКСИЗМ — ЗАПОВЕДИ</span></div>
        <div class='triangle'></div>
        <div class='makan-main'>
0) Читать Макан только нетрезвым.<br>
1) Истина в пиве<br>
2) Быть трезвенником - грех.<br>
3) До 10% - вода, до 40% - компот.<br>
4) Каждую пятницу долг каждого максиста - наебениться.<br>
5) Пик Бальмера - основа работы.<br>
6) Максизм всегда прав.<br>
7) Максист всегда найдёт время выпить. Время всегда найдёт максиста.<br>
8)Базовая математика - грех. Сдача базы - позор на 3 поколения.<br>
9)Жиды, сука, правят миром. Жиды, блять.<br>
A)КБ - храм. Ярче - молильня.<br>
B)Нельзя выплёвывать алкоголь обратно в бутылку. Только собутыльнику в рот.<br>
C)Богоугодная система счисления только одна - 16х. Остальные - харам<br>
        </div>
        
        <script src='static/js.js'></script>
    </body>
</html>
